/** github markdown container style. */
.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto
}

.container:before {
  display: table;
  content: ""
}

.container:after {
  display: table;
  clear: both;
  content: ""
}

/** github markdown container border */
#readme .markdown-body,
#readme .plain {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 30px;
  word-wrap: break-word;
}

#readme .plain pre {
  font-size: 15px;
  white-space: pre-wrap
}